{% extends "base.html" %}
{% block title %} All Resume {% endblock title %}

{% block content %}

<h1>Resume Uploader</h1>
<a href="/create">Add New Resume</a>

{% if resumes %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>State</th>
            <th>Preferred Locations</th>
            <th>Image</th>
            <th>Resume</th>
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
            <td>{{resume.id}}</td>
            <td>{{resume.name}}</td>
            <td>{{resume.email}}</td>
            <td>{{resume.gender.value|capitalize }}</td>
            <td>{{resume.dob}}</td>
            <td>{{resume.state}}</td>
            <td>{{resume.preferred_locations}}</td>
            <td><img src="/{{resume.image_path}}" style="height:40px;" alt=""></td>
            <!-- <td> <a href="/{{resume.image_path}}" target="_blank" rel="noopener noreferrer">View</a></td> -->
            <td><a href="/{{resume.resume_file_path}}" target="_blank" rel="noopener noreferrer">Download</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}


{% endblock content %}